/* 상단 메뉴 */
.menu {
    table-layout: fixed;
    overflow:auto;
    width: 100%;
    top: 0;
    background-color: rgb(168, 226, 236);
}
.menu_box {
    height: 60px;
    padding: 10px;
}
/* 로그인 여행지 MAP*/
.menu_btn {
    color: white;
    display: block;
}
/* 로그인 여행지 */
.menu_btn:hover {
    color: rgb(255, 255, 255);
    transition: 0.3s ease-in-out;
}
.remote_btn {
    list-style-type: disc;
    padding: 20px;
}
.position_right {
    float: right;
}
/* MAP */
.position {
    height: 60px;
    padding-left: 20px;
    position:relative;

}
.z-in {
    z-index: 10;
}
/* plan_btn_css */
.plan_btn{
    color: white;
    font-size: 25px;
}
.plan_btn:hover {
    color: rgb(255, 255, 255);
    transition: 0.3s ease-in-out;
}

.plan_btn_box {
    width: 95%;
    text-align: center;
    margin: 10px auto;
    position:static;
}

.header_profil_ring {
    float:left;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 0;
    background-color: rgb(168, 226, 236);
}
.header_profil {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin-top: 2px;
    margin-left: 2px;
}