/* 검색창 Backgtound img css */
.field_background {
    background-image: url("/static/sample2.png");
    background-size: cover;
    background-position: center;
    padding-top: 300px;
    padding-bottom: 60px;
}

/* a 하이퍼링크 검정색으로 변환  */
a:link {
    color: black;
}

/* 카드_박스_css */
.card_box {
    height: 100px;
    margin-right: 13.8%;
    margin-left: 13.8%;
}
.cards {
    margin: auto;

/* 카드_css */
}
.card {
    box-shadow: 1px 1px 7px gray ;
    width: 300px;
    height: 400px;
    margin: 20px;
    padding: 20px;
    float:left;
    position: relative;
}
/* 카드 이미지 css */
.card_img_box {
    display: block;
    width: 260px;
    height: 240px;
}
.card_img {
    display: block;
    margin: auto;
    width: 260px;
    height: 240px;
}
/* 카드 제목 */
.card_title {
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
    color: black;
    font-size: 19px;
}
/* 카드 작성자 */
.card_writer {
    position: absolute;
    right: 10px;
    bottom: 20px;
    font-size: 20px;
}
/* 카드 날짜 */
.card_time {
    position: absolute;
    right: 10px;
    bottom: 0px;
    color: rgb(185, 185, 185);
}

.likes{
    width: 20px;
    height: 20px;
    float: right;
}

/* 아이콘 css */
.like_icon {
    width: 20px;
    height: 20px;
    float: left;
}
.icon_box {
    float:right;
}
#result {
    display: block;
    float: right;
    margin-right: 10px;
}

