.plan_make_box {
    margin: 0px 7% 0px 7% ;
    height: 700px;
    padding: 25px;
    box-shadow: 1px 1px 7px gray ;
}

.meun_interval {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
}

.list-group::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.on_active {
    margin-top: 5px;
    display: block;
    width: 35px;
    height: 20px;
    background-color: rgb(168, 226, 236);
    color: white;
    font-size: 14px;
    font-weight: bold ;
    border-radius: 10px;
    border-width: 0;
    text-align:center ;
    line-height: 20px;
    float: right;
}
.on_active:hover {
    color: rgb(70, 70, 70);
    background-color: rgb(41, 223, 255);
    transition: 0.5s ease-in-out;
}